<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DND Builder</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">DND Builder</a>
      </h1>
    </header>
    <main class="container container-fluid mt-5">
       <div style="background-image: url('https://cdn.vox-cdn.com/thumbor/l9L9YGFs2MFdYshsS48hJNc6Rqk=/0x469:2773x2566/1400x933/filters:focal(1233x1130:1675x1572):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/61861299/D_D_Art_and_Arcan__Regular_Edition__book_cover.0.jpg');"> 
       
{{!-- login/signup --}}
        <div class="row">
          <div class="col-md-6">
            <h2>Login</h2>

            <form class="form login-form">
              <div class="form-group">
                <label for="email-login">email:</label>
                <input class="form-input" type="text" id="email-login" />
              </div>
              <div class="form-group">
                <label for="password-login">password:</label>
                <input class="form-input" type="password" id="password-login" />
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">login</button>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <h2>Signup</h2>

            <form class="form signup-form">
              <div class="form-group">
                <label for="name-signup">name:</label>
                <input class="form-input" type="text" id="name-signup" />
              </div>
              <div class="form-group">
                <label for="email-signup">email:</label>
                <input class="form-input" type="text" id="email-signup" />
              </div>
              <div class="form-group">
                <label for="password-signup">password:</label>
                <input class="form-input" type="password" id="password-signup" />
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">signup</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer>
      Proudly made by Team 7. Created 2023. 
    </footer>
  </div>
  <script src="./js/login.js"></script>
  <!-- If user is logged in, take them to their profile page-->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
