/* body {
  background-color: rgb(255, 47, 47);
}

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

/* Is this even used... */
/* .dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

#madeBy {
  font-size: 20px;
  text-align: center;
} */

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.my-button {
  background-color: rgb(88, 52, 35);
}